.groupTask{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.groupTask svg{
    color:var(--cal-back);
}
.groupTaskContainer{
    margin-top: 5px;
    height: 200px;
    margin-bottom: 5px;
    overflow-x: auto; 
    padding:10px;
    width: 100% ;
    border: 1px solid rgba(82, 81, 81, 0.582);
    background-color: var(--cal-mainback);
    padding: 5px;
    border-radius: 4px;
}
.numberList{
    color:var(--cal-back);
}