.menuPanel .into{
  width: 100%;
  margin: 0 auto;
  height: auto;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 14px;
 color: #0f018a;
}
.menuPanel .into >span{
  margin-left: 35px;
  width: calc(100% - 35px);
  padding: 8px;
  display: flex;
  justify-content: flex-start;
}
.menuPanel .into .moveinboxicon{
  color:#109bad;
}
.menuPanel .into .assignicon{
  color:#4f9b11;
}
.menuPanel .into .swipericon{
  color:brown;
}
.menuPanel .into .lastsearchicon{
  color:burlywood;
}
.menuPanel .into span:hover svg{
  color: #d21947;
}
.menuPanel .into span:hover{
  border-radius: 4px;
  color: #d21947;
  background-color:#eee;
} 
.Icons{
  margin-right:10px !important;
  width:20px !important;
  height:20px !important;
}