.todayContainer {
    width:70%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
}
.todayContainer > span , .todayContainer > div {
  font-weight: 700;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.76);
}

