.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 *,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
p ,*{
  margin: 0;
}
:root{
    --cal-back:#db4c3f;
    --cal-icons:whitesmoke;
    --cal-hover:aliceblue;
    --cal-menuback:rgba(124, 238, 213, 0.534);
    --cal-mainback:#fff;
    --cal-backpanels:rgba(255, 72, 0, 0.582);
    --cal-menuPanel:#fafafa;
}
body {
  margin: 0 auto;
  font-family: BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 13px;
  background-color: var(--cal-mainback);
}
.head{
    background-color:var(--cal-back);
    width: 100%;
    height:44px;
    display: inline-flex;
    align-items: center;
}
svg{
  width: 23px;
  height: 23px;
    display: block;
    color:var(--cal-icons);
    margin: auto;   
}
.into{
    cursor: pointer;
    color:whitesmoke;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-left:6px;
}
.searchBox{
   
    height: 30px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    background-color: var(--cal-back);
}
.searchInput,.searchIcon{
  background:rgba(252, 252, 252, 0.2);
  
}
.searchIcon{
  border-radius: 0;
  border: 1px solid transparent;
  transition: width 70ms, background-color 300ms;
}
.searchInput{
  border: 1px solid transparent;
  width: 35%;
  height: 30px;
  color: black;
  border: none;
  outline: 0;
  height: 100%;
  font-size: 14px;
  transition: width 70ms, background-color 300ms;
}
.searchBox:focus-within .searchInput{
  width: 100%;
  background-color: var(--cal-hover);
}
.searchBox:focus-within .searchIcon{
  background-color: var(--cal-hover);
}
.searchBox:focus-within .searchIcon svg{
  color:black;
}
.searchBox:hover .searchIcon svg{
  color:black;
}
.searchBox:hover .searchIcon{
  background-color: var(--cal-hover);
}
.searchBox:hover .searchInput{
  background-color: var(--cal-hover);
}
.searchBox:hover .searchInput::placeholder{
  color:rgba(0, 0, 0, 0.61);
}

.searchInput:focus::placeholder{
  color:black;
}
.searchInput::placeholder{
  color:var(--cal-hover);
}

.searchInput:focus::placeholder{
  color: black;
}
.container {
  padding-left: 30px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.menu:hover,.home:hover,.closeMenu:hover,.searchIcon:hover{
    background-color: rgba(252, 252, 252, 0.2);
  }

.closeMenu{
  display: none;
}
.section-below{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.menuPanel{
  transition: 300ms ;
  width:100%;
  margin-left: -100%;
  opacity: 1;
  height: auto;
  padding-top: 10px;
  background-color: var(--cal-menuPanel);
}
.mainPanel{
  transition: 300ms;
  background-color:var(--cal-mainback);
  width: 100%;
  padding: 10px;
}

.showMenu{
  margin-left: 0;
  width: 100%;
}
.mainPanelContainer{
  width: 100%;
}
.addnewpanel{
  display: none;
  width:100%;
  background-color:var(--cal-backpanels);
  border-radius: 10px;
  margin-bottom: 30px;
  border: 2px red solid;
}
.newItembox{
  outline: none;
  width:200px;
  border-radius: 5px;
  font-size: 18px;
  color:blue;
}
.searchContainer{
  width: 100%; 
  padding: 10px;
}
.showItemContainer{
  width: auto;
  height: 300px;
  margin-bottom: 30px;
  border: 2px red solid;
  overflow-x: auto; 
  padding:10px;
  background-color:var(--cal-backpanels);
  border-radius: 10px;
}
.message{
  width: 100%;
  font-size: 20px;
  color: rgb(202, 93, 78);
}
.allItemsNumber{
  width: 40px;
  height: 40px;
  padding: 3px;
  margin-top: 5px;
  margin-left: 3px;
  border: 1px solid white;
  color:white;
  font-size: 18px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parentItem{
  display: flex;
  flex-direction: row-reverse;
  direction: rtl;
  text-align: center;
  align-items: center;
}
.allItemsContent{
  scroll-behavior: smooth;
  padding: 10px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid white;
  color: rgb(54, 17, 85);
  font-size: 18px;
  direction:ltr;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doneItem,.deleteItem{
  padding: 3px;
}
.showError{
  margin-bottom: 5px;
}
.svg-icon{
  align-items: center;
  width: 100%;
  height:100%;
}
.okbutton{
  margin-top: 3px;
  margin-left: 1px;
  cursor: pointer;
  border-color:green;
  border-radius: 8px;
  width: 35px;
  height:35px;
}
.cancelButton{
  cursor: pointer;
  margin-top: 3px;
  margin-left: 1px;
  border-color:red;
  border-radius: 8px;
  width: 35px;
  height:35px;
}
.cancelButton svg{
  color:red;
}
.okbutton svg{
  color:green;
}
.deletedtask{
  text-decoration: line-through rgba(255, 255, 255, 0.616);
}
.menuItems{
  color:black;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: inherit;
  height: auto;
  background-color: var(--cal-backpanels);
  border: 2px solid red; 
}
.menuitemdefaultback{
  background-color: var(--cal-backpanels);
}
.menuItems:hover{
  background-color: azure;
}
.firstStatePanel{
  transition: 300ms;
  margin-left:0;
  width:100%;
}
.searchBox{
  width: 60%; 
}
@media only screen and (min-width: 600px){
  .searchBox{
   width: 60%;   
   width: 450px;
  }
  
  .menuPanel{
    width:259px;
    margin-left: -260px;
    height: calc(100vh - 40px);
    
    background-color: var(--cal-menuPanel);
  }
  .showMenu{
    margin-left:0;
    width:259px;   
  }
  .firstStatePanel{
    width:259px;
  }
  .mainPanel{
    transition: 300ms;
    width: calc(100% - 260px);
    background-color:var(--cal-mainback);
  }
  .mainPanelCheck{
    transition: 300ms;
    width: 100%; 
  }
  .menu{
    display: none;
  }
  .closeMenu{
    display:inline-flex;
  }
}